@model VideoPlatform.WebApp.Model.User.EditChannelRequestModel

<h2>Edit Profile</h2>

@using (Html.BeginForm("Edit", "Channel"))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.ChannelId)

    <div class="form-group">
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = "3" })
    </div>

    /*<div class="form-group">
        @Html.LabelFor(m => m.Privacy)
        @Html.DropDownListFor(m => m.Privacy, Enum.GetValues(typeof(PrivacyEnum)).Cast<PrivacyEnum>().Select(v => new SelectListItem { Text = v.ToString(), Value = ((int)v).ToString() }), "Select Privacy", new { @class = "form-control" })
    </div>*/

    <div class="form-group">
        @Html.LabelFor(m => m.CoverImage)
        @Html.TextBoxFor(m => m.CoverImage, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
}
